node_modules

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.pyo
*.pyd
*.pyd
*.whl

# Virtual environments
venv/
env/
.venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints

# Streamlit
.streamlit/

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# IDEs
.idea/
*.iml

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/
